    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0
    }
    li {
        margin: 10px;
        background-color: #EDEDED;
        padding: 5px;
        border: 1px solid #cccccc;
        text-decoration: none;
        list-style: none;
        width: 200px;
    }
    img {
        max-width: 100%;
    }
    .noResult{
        text-align: center;
    }